.product-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 10px 20px;

  .product-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 80%;
      background-color: rgba(0, 0, 0, 0.54);
      z-index: -1;
      transform: translate(-50%, -50%);
      border-radius: 5px;
    }
  }

  .header-text {
    font-family: fontFamily(secondary);
    font-size: fontSize(jumbo);
    font-weight: 600;
    text-shadow: rgb(0, 0, 0) 4px 4px 3px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  .image-container {
    position: relative;
    width: 100%;
    padding: 10px;

    img {
      height: auto;
      max-width: 100%;
    }

    @mixin boxShadow($color, $negative: "positive") {
      $blur: 24px;
      @if $negative == "negative" {
        box-shadow: 0 -16px $blur $color;
      } @else {
        box-shadow: 0 16px $blur $color;
      }
    }

    &:before,
    &:after {
      // opacity: 0;
      // transition: opacity 450ms ease-in 350ms, box-shadow 500ms ease-out;
      content: "";
      position: absolute;
      height: 50px;
      top: 10px;
      left: 5%;
      right: 5%;
      @include boxShadow(color(winfieldRed), "negative");
      z-index: -1;
      transition: 350ms;
    }

    &::after {
      top: auto;
      bottom: 10px;
      @include boxShadow(color(winfieldRed));
    }

    &:hover {
      cursor: crosshair;
      &::before {
        @include boxShadow(color(winfieldBlue), "negative");
      }
      &::after {
        @include boxShadow(color(winfieldBlue));
      }
    }
  }

  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 40px 0;
  }

  .body-detail-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 12px 0;
    // background-color: teal;
  }

  .body-title-container {
    display: flex;
    width: 35%;
    margin-right: 15px;
    justify-content: flex-end;
  }

  .body-title-text {
    font-size: fontSize(body);
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.9) 3px 2px 2px;
  }

  .body-detail-text {
    font-size: fontSize(body);
    font-weight: 500;
    color: color(winfieldRed);
  }

  @import "./components/features/features.scss";
}
