@import "styles/presets.scss";

body {
  // Remove vertical Scroll Bar
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  margin: 0;

  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }

  p,
  h1,
  h2,
  h3 {
    font-family: fontFamily(primary);
    color: color(font1);
    margin: 0;
    letter-spacing: 0.03rem;
    white-space: pre-wrap;
  }
  .body-text {
    font-size: fontSize(body);
    font-weight: 300;
    color: color(font1);
    line-height: 2.2rem;
    letter-spacing: 0.4px;
  }
}

.page-layout-wrapper {
  // display: flex;
  // flex-direction: column;
  // flex: 1;
  background-color: color(bg1);
  min-height: 100vh;

  * {
    font-family: fontFamily(primary);
  }
}
