.three-d-mission-wrapper {
  @extend%page-section-wrapper;

  .parallax-background-image {
    // height: 120%;
    width: 90%;
    transform: translate(-10%, -13%);
  }

  .three-d-mission-container {
    position: relative;
    z-index: 2;
  }

  .mission-body-container {
    @extend%mission-body-container;

    .body-text {
      white-space: pre-line;
    }
  }
}
