.home-mission-wrapper {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $desktopSectionPadding;

  .parallax-background-image {
    // height: 120%;
    width: 90%;
    transform: rotateY(180deg) rotate(-65deg) translate(5%, 25%);
  }

  .home-mission-container {
    position: relative;
    z-index: 2;
  }

  .mission-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
