@import "styles/presets.scss";

.section-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .section-container {
    width: $desktopContentWidth;
    display: flex;
  }

  .header-wrapper {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    text-align: right;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
  }

  .section-header {
    font-family: fontFamily(secondary);
    font-size: fontSize(jumbo);
    font-weight: 800;
    color: color(font1);
    margin: -1rem 0;
    text-transform: uppercase;

    &.alternate-header {
      color: color(winfieldRed);
      text-shadow: 0 5px 4px #0000009a;
    }
  }

  .subheader-text-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .section-sub-header {
    font-size: fontSize(subheader);
    font-family: fontFamily(secondary);
    font-weight: 400;
    color: color(font1);
    margin: 0 0 0 10px;
    text-transform: uppercase;

    &.alternate-sub-header {
      color: color(winfieldRed);
      text-shadow: 0 5px 4px #0000009a;
    }
  }

  .section-seperator {
    display: block;
    height: 100%;
    width: 3px;
    background-color: color(winfieldRed);
    border-radius: 5px;
    margin: 0 40px;
  }

  &.align-right {
    .section-container {
      flex-direction: row-reverse;
    }

    .header-wrapper {
      justify-content: flex-start;
      text-align: left;
    }

    .subheader-text-container {
      justify-content: flex-start;

      .section-sub-header {
        margin: 0 10px 0 0;
      }
    }
  }

  .body-container {
    display: flex;
    flex: 3;
    padding: 10px 20px;
  }
}
