@import "styles/presets.scss";

.section-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .section-container {
    max-width: $desktopContentWidth;
    display: flex;
  }

  .header-wrapper {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    text-align: right;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
    overflow: hidden;
  }

  .header-subcontainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  .section-header {
    @extend%section-header-text;
    margin: -1rem 0;
    text-transform: uppercase;
  }
  .alternate-text {
    color: color(winfieldRed);
    text-shadow: 0 5px 4px #0000009a;
  }

  .subheader-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .subheader-subcontainer {
    display: flex;
    justify-content: flex-end;
  }

  .section-sub-header {
    @extend%section-subheader-text;
    margin: 0 0 0 10px;
    text-transform: uppercase;
  }

  .section-seperator {
    display: block;
    height: 100%;
    width: $seperatorLineWidth;
    background-color: color(winfieldRed);
    border-radius: 5px;
    margin: 0 40px;
  }

  &.align-right {
    .section-container {
      flex-direction: row-reverse;
    }

    .header-wrapper {
      justify-content: flex-start;
      text-align: left;
    }

    .header-subcontainer,
    .subheader-subcontainer {
      justify-content: flex-start;
    }

    .subheader-text-container {
      justify-content: flex-start;

      .section-sub-header {
        margin: 0 10px 0 0;
      }
    }
  }

  .body-container {
    display: flex;
    flex: 7;
    padding: 10px 40px 10px 20px;
  }

  &.hidden {
    .section-seperator {
      transform: scaleY(0);
    }

    .header-text-container,
    .subheader-text-container {
      opacity: 0;
      transform: translateX(50%);
    }

    &.align-right {
      .header-text-container,
      .subheader-text-container {
        opacity: 0;
        transform: translateX(-50%);
      }
    }

    .body-container {
      opacity: 0;
      transform: scale(1.05);
    }
  }

  &.visible {
    .section-seperator {
      transform: scaleY(1);
      transition-duration: 400ms;
    }

    .header-text-container,
    .subheader-text-container {
      opacity: 1;
      transform: translateX(0%);
      transition-duration: 400ms;
      transition-delay: 350ms;
    }

    .subheader-text-container {
      transition-delay: 450ms;
    }

    .body-container {
      opacity: 1;
      transform: scale(1);
      transition-duration: 500ms;
      transition-delay: 550ms;
    }
  }
}
