.products-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  padding: 80px 0;

  .products-container {
    display: flex;
    width: $desktopContentWidth;
  }
}
