.products-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  padding: $desktopSectionPadding;
  // z-index: 2;
  @extend %parallax-background-adjacent;

  .products-container {
    display: flex;
    width: $desktopContentWidth;
  }
}
