// @import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,600&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600&display=swap");

$desktop: 768px;
$desktopContentWidth: 1366px;
$desktopSectionPadding: 80px 0;

$seperatorLineWidth: 3px;

$primaryFont: "Roboto Condensed", sans-serif;
$secondaryFont: "Oswald", sans-serif;

$colors: (
  font1: #ffffff,
  font2: #ffffff96,
  winfieldBlue: #2d96ff,
  winfieldRed: #dd1831,
  bg1: #15171a,
  bg2: #121111,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$fontFamilies: (
  primary: $primaryFont,
  secondary: $secondaryFont,
);

@function fontFamily($font-family) {
  @return map-get($fontFamilies, $font-family);
}

$fontSizes: (
  jumbo: 3.4rem,
  header: 2.3rem,
  body: 1.23rem,
  small: 1rem,
  extraSmall: 0.72rem,
);

@function fontSize($font-size) {
  @return map-get($fontSizes, $font-size);
}

@mixin mobile {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin placeHolderText {
  &::placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-ms-input-placeholder {
    @content;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

%page-section-wrapper {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $desktopSectionPadding;
}

%parallax-background-adjacent {
  position: relative;
  z-index: 2;
}

%mission-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
}

%body-text {
  font-size: fontSize(body);
  font-weight: 300;
  font-family: fontFamily(primary);
  color: color(font1);
  line-height: 2.2rem;
  letter-spacing: 0.4px;
  text-shadow: rgb(0, 0, 0) 3px 3px 2px;
}

%section-header-text {
  font-family: fontFamily(secondary);
  font-size: fontSize(jumbo);
  font-weight: 800;
  color: color(font1);
}

%section-subheader-text {
  font-size: fontSize(header);
  font-family: fontFamily(secondary);
  font-weight: 400;
  color: color(font1);
}

%remove-button-styles {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: inherit;
  cursor: pointer;
}
